<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Itur © 2025 by Max Noé <code@itur.cat>
  ~ SPDX-License-Identifier: GPL-3.0-or-later
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.nohex.itur.core.datastore.RemoteDataStoreService"
            android:exported="false"
            android:process=":settings_test" />
    </application>
</manifest>
